# Import a .csv (or other source data) into Pandas DataFrame to Explore

In [13]:
import pandas as pd
from function_library.py_data_engineering.utils import categorize_dataframe_columns
from function_library.py_data_visualizations.basic_data_descriptions import basic_dataframe_description

In [ ]:
df = pd.read_csv("")

In [15]:
df_col_dict = categorize_dataframe_columns(df)
for column in df_col_dict['string']:
    print(column)

game_id
team
opponent_team
player_id
player_name
depth_position
position

In [16]:
basic_dataframe_description(df)

df Overview:
 Shape: (12436, 23)
 Columns: 23
 Memory: 6.09 MB
 Missing values: 245 total
 Columns with missing values: 2
 Columns with missing values: ['receiving_epa', 'racr']
  Missing values per column:
    receiving_epa: 117
    racr: 128
 Data types: {dtype('float64'): 15, dtype('O'): 7, dtype('int64'): 1}

       depth_rank    receptions  ...  air_yards_share          wopr
count     12436.0  12436.000000  ...     12436.000000  12436.000000
mean          1.0      4.088935  ...         0.258702      0.475143
std           0.0      2.621608  ...         0.157651      0.239441
min           1.0      0.000000  ...        -0.220690      0.000000
25%           1.0      2.000000  ...         0.139466      0.299962
50%           1.0      4.000000  ...         0.243279      0.463034
75%           1.0      6.000000  ...         0.359281      0.633935
max           1.0     18.000000  ...         1.842105      1.789474

[8 rows x 16 columns]