In [1]:
import sys
import os
current_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(current_dir, '..', '..', '..'))
sys.path.append(parent_dir)

In [2]:
from functions.import_data_parquet import NFLDataLoader
from functions.import_data_csv import import_custom_ratings
from functions.data_transformation import prep_nfl_data_py_pbp, filter_and_subset_nfl_data_py_pbp
from functions.feature_engineering import create_features_nfl_data_py
from function_library.py_data_visualizations.basic_data_descriptions import basic_dataframe_description

In [3]:
nfl_data_loader = NFLDataLoader()
pbp_df = nfl_data_loader.pbp(seasons = [2022, 2023, 2024, 2025])
off_rating_df, def_rating_df = import_custom_ratings()
pbp_df = prep_nfl_data_py_pbp(pbp_df)
pbp_df = filter_and_subset_nfl_data_py_pbp(pbp_df)
pbp_df = create_features_nfl_data_py(pbp_df)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [4]:
pbp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125793 entries, 0 to 125792
Data columns (total 47 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   game_id                  125793 non-null  object
 1   season                   125793 non-null  int64
 2   week                     125793 non-null  int64
 3   stadium                  125793 non-null  object
 4   roof                     125793 non-null  object
 5   temp                     125793 non-null  float64
 6   wind                     125793 non-null  float64
 7   offense                  125793 non-null  object
 8   defense                  125793 non-null  object
 9   home_team_on_offense     125793 non-null  bool
 10  half                     125793 non-null  int64
 11  qtr                      125793 non-null  float64
 12  game_seconds_remaining   125793 non-null  float32
 13  half_seconds_remaining   125793 non-null  float32
 14  score_differential       125793 non-null  float32
 15  posteam_score            125793 non-null  float32
 16  drive                    125793 non-null  float32
 17  down                     125339 non-null  category
 18  distance                 125793 non-null  float32
 19  yardline                 125793 non-null  float32
 20  drive_end_yard_line      125792 non-null  float64
 21  goal_to_go               125793 non-null  int32
 22  play_type                125793 non-null  object
 23  yards_gained             125793 non-null  float32
 24  first_down               125793 non-null  float32
 25  passer_id                75233 non-null   object
 26  passer_player_name       71689 non-null   object
 27  rusher_id                50304 non-null   object
 28  rusher_player_name       54104 non-null   object
 29  receiver_id              63837 non-null   object
 30  receiver_player_name     63818 non-null   object
 31  complete_pass            125793 non-null  float32
 32  sack                     125793 non-null  float32
 33  touchdown                125793 non-null  float32
 34  drive_result             125793 non-null  object
 35  quarterback_id           125793 non-null  object
 36  distance_bucket          125339 non-null  category
 37  dn_dst_expanded          125793 non-null  object
 38  yardline_bin_five        125793 non-null  category
 39  yardline_bin_ten         125793 non-null  category
 40  yardline_bin_custom_one  125793 non-null  category
 41  score_bin_three_scores   125793 non-null  category
 42  game_situation           125793 non-null  object
 43  is_inside_ten            125793 non-null  boolean
 44  is_inside_twenty         125793 non-null  boolean
 45  first_five_open_field    125793 non-null  boolean
 46  first_down_landing_zone  125793 non-null  category
dtypes: bool(1), boolean(3), category(7), float32(12), float64(4), int32(1), int64(3), object(16)
memory usage: 30.0+ MB

In [5]:
basic_dataframe_description(pbp_df, transpose_description=False)

df Overview:
 Shape: (125793, 47)
 Columns: 47
 Memory: 115.10 MB
 Missing values: 376682 total
 Columns with missing values: 9
 Columns with missing values: ['down', 'drive_end_yard_line', 'passer_id', 'passer_player_name', 'rusher_id', 'rusher_player_name', 'receiver_id', 'receiver_player_name', 'distance_bucket']
  Missing values per column:
    down: 454
    drive_end_yard_line: 1
    passer_id: 50560
    passer_player_name: 54104
    rusher_id: 75489
    rusher_player_name: 71689
    receiver_id: 61956
    receiver_player_name: 61975
    distance_bucket: 454
 Data types: {dtype('O'): 16, dtype('float32'): 12, dtype('float64'): 4, dtype('int64'): 3, BooleanDtype: 3, dtype('bool'): 1, CategoricalDtype(categories=[1.0, 2.0, 3.0, 4.0], ordered=False): 1, dtype('int32'): 1, CategoricalDtype(categories=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11-12',
                  '13-15', '16-19', '20+'],
, ordered=True): 1, CategoricalDtype(categories=['0-5', '6-10', '11-15', '16-20', '21-25', '26-30', '31-35',
                  '36-40', '41-45', '46-50', '51-55', '56-60', '61-65',
                  '66-70', '71-75', '76-80', '81-85', '86-90', '91-95',
                  '96-100'],
, ordered=True): 1, CategoricalDtype(categories=['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70',
                  '71-80', '81-90', '91-100'],
, ordered=True): 1, CategoricalDtype(categories=['1', '2', '3-5', '5-10', '11-15', '16-20', '21-30', '31-40',
                  '41-50', '51-60', '61-70', '71-75', '75-80', '81-85',
                  '86-90', '91-95', '96-97', '98', '99'],
, ordered=True): 1, CategoricalDtype(categories=['-99 to -25', '-24 to -17', '-16 to -9', '-8 to -1', '0',
                  '1-8', '9-16', '17-24', '25 to 99'],
, ordered=True): 1, CategoricalDtype(categories=[ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0,
                  10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                  20.0],
, ordered=False): 1}

,season,week,temp,wind,half,qtr,game_seconds_remaining,half_seconds_remaining,score_differential,posteam_score,drive,distance,yardline,drive_end_yard_line,goal_to_go,yards_gained,first_down,complete_pass,sack,touchdown
count,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125792.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000,125793.000000
mean,2023.286240,9.285334,62.248019,5.280731,1.514146,2.576693,1712.360596,827.249451,-1.468428,10.267559,11.311822,8.448062,49.841492,68.142402,0.060146,5.357325,0.289555,0.342046,0.039191,0.039311
std,1.031903,5.541142,14.308437,5.255756,0.511421,1.130846,1053.584961,547.779785,10.272078,9.312859,6.610663,3.985911,24.194729,25.481853,0.237759,8.531254,0.453558,0.474397,0.194051,0.194334
min,2022.000000,1.000000,6.000000,0.000000,1.000000,1.000000,0.000000,0.000000,-56.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,-34.000000,0.000000,0.000000,0.000000,0.000000
25%,2022.000000,4.000000,55.000000,0.000000,1.000000,2.000000,783.000000,322.000000,-7.000000,3.000000,6.000000,6.000000,30.000000,48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2023.000000,9.000000,68.000000,5.000000,2.000000,3.000000,1791.000000,811.000000,0.000000,8.000000,11.000000,10.000000,46.000000,74.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
75%,2024.000000,14.000000,68.000000,9.000000,2.000000,4.000000,2603.000000,1301.000000,4.000000,16.000000,17.000000,10.000000,68.000000,91.000000,0.000000,8.000000,1.000000,1.000000,0.000000,0.000000
max,2025.000000,22.000000,93.000000,44.000000,3.000000,5.000000,3600.000000,1800.000000,50.000000,70.000000,35.000000,40.000000,99.000000,99.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000