In [18]:
import sys
import os
current_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(current_dir, '..', '..', '..'))
sys.path.append(parent_dir)

In [19]:
from functions.import_data_parquet import NFLDataLoader
from functions.import_data_csv import import_custom_ratings
from functions.data_transformation import prep_nfl_data_py_pbp, filter_and_subset_nfl_data_py_pbp
from functions.feature_engineering import create_features_nfl_data_py
from function_library.py_data_visualizations.basic_data_descriptions import basic_dataframe_description

In [20]:
import pandas as pd

In [21]:
nfl_data_loader = NFLDataLoader()
pbp_df = nfl_data_loader.pbp(seasons = [2022, 2023, 2024, 2025])
off_rating_df, def_rating_df = import_custom_ratings()
pbp_df = prep_nfl_data_py_pbp(pbp_df)
pbp_df = filter_and_subset_nfl_data_py_pbp(pbp_df)
pbp_df = create_features_nfl_data_py(pbp_df)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [22]:
pbp_df.to_csv("csv_output/check_pbp.csv")
pbp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125339 entries, 0 to 125338
Data columns (total 47 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   game_id                  125339 non-null  object
 1   season                   125339 non-null  int64
 2   week                     125339 non-null  int64
 3   stadium                  125339 non-null  object
 4   roof                     125339 non-null  object
 5   temp                     125339 non-null  float64
 6   wind                     125339 non-null  float64
 7   offense                  125339 non-null  object
 8   defense                  125339 non-null  object
 9   home_team_on_offense     125339 non-null  bool
 10  half                     125339 non-null  int64
 11  qtr                      125339 non-null  float64
 12  game_seconds_remaining   125339 non-null  float32
 13  half_seconds_remaining   125339 non-null  float32
 14  score_differential       125339 non-null  float32
 15  posteam_score            125339 non-null  float32
 16  drive                    125339 non-null  float32
 17  down                     125339 non-null  category
 18  distance                 125339 non-null  float32
 19  yardline                 125339 non-null  float32
 20  drive_end_yard_line      125339 non-null  float64
 21  goal_to_go               125339 non-null  int32
 22  play_type                125339 non-null  object
 23  yards_gained             125339 non-null  float32
 24  first_down               125339 non-null  float32
 25  passer_id                74909 non-null   object
 26  passer_player_name       71365 non-null   object
 27  rusher_id                50174 non-null   object
 28  rusher_player_name       53974 non-null   object
 29  receiver_id              63536 non-null   object
 30  receiver_player_name     63517 non-null   object
 31  complete_pass            125339 non-null  float32
 32  sack                     125339 non-null  float32
 33  touchdown                125339 non-null  float32
 34  drive_result             125339 non-null  object
 35  quarterback_id           125339 non-null  object
 36  distance_bucket          125339 non-null  category
 37  dn_dst_expanded          125339 non-null  object
 38  yardline_bin_five        125339 non-null  category
 39  yardline_bin_ten         125339 non-null  category
 40  yardline_bin_custom_one  125339 non-null  category
 41  score_bin_three_scores   125339 non-null  category
 42  game_situation           125339 non-null  object
 43  is_inside_ten            125339 non-null  boolean
 44  is_inside_twenty         125339 non-null  boolean
 45  first_five_open_field    125339 non-null  boolean
 46  first_down_landing_zone  125339 non-null  category
dtypes: bool(1), boolean(3), category(7), float32(12), float64(4), int32(1), int64(3), object(16)
memory usage: 29.9+ MB

In [23]:
basic_dataframe_description(pbp_df, transpose_description=False)

df Overview:
 Shape: (125339, 47)
 Columns: 47
 Memory: 114.68 MB
 Missing values: 374559 total
 Columns with missing values: 6
 Columns with missing values: ['passer_id', 'passer_player_name', 'rusher_id', 'rusher_player_name', 'receiver_id', 'receiver_player_name']
  Missing values per column:
    passer_id: 50430
    passer_player_name: 53974
    rusher_id: 75165
    rusher_player_name: 71365
    receiver_id: 61803
    receiver_player_name: 61822
 Data types: {dtype('O'): 16, dtype('float32'): 12, dtype('float64'): 4, dtype('int64'): 3, BooleanDtype: 3, dtype('bool'): 1, CategoricalDtype(categories=[1.0, 2.0, 3.0, 4.0], ordered=False): 1, dtype('int32'): 1, CategoricalDtype(categories=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11-12',
                  '13-15', '16-19', '20+'],
, ordered=True): 1, CategoricalDtype(categories=['0-5', '6-10', '11-15', '16-20', '21-25', '26-30', '31-35',
                  '36-40', '41-45', '46-50', '51-55', '56-60', '61-65',
                  '66-70', '71-75', '76-80', '81-85', '86-90', '91-95',
                  '96-100'],
, ordered=True): 1, CategoricalDtype(categories=['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70',
                  '71-80', '81-90', '91-100'],
, ordered=True): 1, CategoricalDtype(categories=['1', '2', '3-5', '5-10', '11-15', '16-20', '21-30', '31-40',
                  '41-50', '51-60', '61-70', '71-75', '75-80', '81-85',
                  '86-90', '91-95', '96-97', '98', '99'],
, ordered=True): 1, CategoricalDtype(categories=['-99 to -25', '-24 to -17', '-16 to -9', '-8 to -1', '0',
                  '1-8', '9-16', '17-24', '25 to 99'],
, ordered=True): 1, CategoricalDtype(categories=[ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0,
                  10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                  20.0],
, ordered=False): 1}

,season,week,temp,wind,half,qtr,game_seconds_remaining,half_seconds_remaining,score_differential,posteam_score,drive,distance,yardline,drive_end_yard_line,goal_to_go,yards_gained,first_down,complete_pass,sack,touchdown
count,125339.00000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000,125339.000000
mean,2023.28596,9.285570,62.245965,5.282578,1.512777,2.573261,1715.754150,828.155029,-1.463734,10.237500,11.293372,8.478662,49.667461,68.078842,0.060364,5.373363,0.290604,0.343285,0.039333,0.039453
std,1.03184,5.540913,14.308729,5.255926,0.511483,1.130550,1053.192383,547.877319,10.270563,9.306137,6.609106,3.960503,24.064575,25.486555,0.238161,8.542309,0.454043,0.474808,0.194388,0.194671
min,2022.00000,1.000000,6.000000,0.000000,1.000000,1.000000,0.000000,0.000000,-56.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,-34.000000,0.000000,0.000000,0.000000,0.000000
25%,2022.00000,4.000000,55.000000,0.000000,1.000000,2.000000,788.000000,323.000000,-7.000000,3.000000,6.000000,6.000000,30.000000,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2023.00000,9.000000,68.000000,5.000000,2.000000,3.000000,1794.000000,812.000000,0.000000,7.000000,11.000000,10.000000,46.000000,74.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
75%,2024.00000,14.000000,68.000000,9.000000,2.000000,4.000000,2606.500000,1302.000000,4.000000,16.000000,17.000000,10.000000,68.000000,91.000000,0.000000,8.000000,1.000000,1.000000,0.000000,0.000000
max,2025.00000,22.000000,93.000000,44.000000,3.000000,5.000000,3600.000000,1800.000000,50.000000,70.000000,35.000000,40.000000,99.000000,99.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
pd.crosstab(pbp_df['down'], pbp_df['play_type'], normalize='index').mul(100).round(1).add_suffix(' %')

play_type  pass %  qb_kneel %  qb_spike %  run %
down
1.0          47.0         1.7         0.3   51.0
2.0          58.4         1.0         0.1   40.5
3.0          74.4         0.8         0.1   24.7
4.0          61.5         0.4         0.0   38.1

In [25]:
pd.crosstab(pbp_df['down'], pbp_df['play_type'], values=pbp_df['yards_gained'], aggfunc='mean')

play_type      pass  qb_kneel  qb_spike       run
down
1.0        6.737957 -1.046463       0.0  4.552288
2.0        6.028351 -1.144578       0.0  4.554261
3.0        5.592595 -1.234146       0.0  4.689389
4.0        5.221910 -2.272727       NaN  3.196558

In [26]:
tgt_conv_df = (pbp_df.groupby(['receiver_player_name', 'passer_player_name'])['complete_pass'].agg(tgt_conv_rate='mean', total_tgts='count').round(3).sort_values('receiver_player_name', ascending=True))

In [27]:
tgt_conv_df = tgt_conv_df[tgt_conv_df['total_tgts'] >= 10]
tgt_conv_df.to_csv("csv_output/receiver_tgt_conversion_by_qb.csv")